.duration{
  animation-duration: 1s; 
  animation-fill-mode: both; 
}

.slick-active{
  /*****1 схема****/
  .img1{ 
    animation-name: img1; 
    animation-delay: .3s;
    @extend .duration; 
  }
  @keyframes img1{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0px);
      } 
      100% { 
        opacity: 1;
      } 
  }
  
  .var1{ 
    animation-name: var1; 
    animation-delay: .8s; 
    @extend .duration; 
  }
  @keyframes var1{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0px);
      } 
  }
  
  .img2{ 
    animation-name: img2; 
    animation-delay: 1.3s;
    @extend .duration; 
  }
  @keyframes img2{ 
      0% { 
        opacity: 0; 
        transform: translate(-10px, 0);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0px);
      } 
  }
  
  .img3{ 
    animation-name: img3; 
    animation-delay: 1.8s;
    @extend .duration; 
  }
  @keyframes img3{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0px);
      } 
  }
  
  .var2{ 
    animation-name: var2; 
    animation-delay: 2.3s;
    @extend .duration; 
  }
  @keyframes var2{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0px);
      } 
  }
  
  .ani1{ 
    animation-name: ani1; 
    animation-delay: 2.8s;
    @extend .duration; 
  }
  @keyframes ani1{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .img4{ 
    animation-name: img4; 
    animation-delay: 2.8s;
    @extend .duration; 
  }
  @keyframes img4{ 
      0% { 
        opacity: 0; 
        transform: translate(-10px, 0px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  
  .line.num1{
    animation-name: linenum1; 
    animation-delay: 2.8s;   
    @extend .duration; 
  }
  
  @keyframes linenum1{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 240px;
      } 
  }
  
  .img7.num1{
    animation-name: img7num1; 
    animation-delay:3.2s;
    @extend .duration; 
  }
  
  @keyframes img7num1{ 
      0% { 
        height: 0;
      } 
      50% { 
        height: 33px;
      } 
  }
  
  .ani2{ 
    animation-name: ani2; 
    animation-delay: 3.5s;
    @extend .duration; 
  }
  @keyframes ani2{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .img5{ 
    animation-name: img5; 
    animation-delay: 3.5s;
    @extend .duration; 
  }
  @keyframes img5{ 
      0% { 
        opacity: 0; 
        transform: translate(-10px, 0px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .line.num2{
    animation-name: linenum1; 
    animation-delay: 4.2s;
    @extend .duration; 
  }
  
  @keyframes linenum2{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 240px;
      } 
  }
  
  .img7.num2{
    animation-name: img7num2; 
    animation-delay: 4.7s;
    @extend .duration; 
  }
  
  @keyframes img7num2{ 
      0% { 
        height: 0;
      } 
      50% { 
        height: 33px;
      } 
  }
  
  .ani3{ 
    animation-name: ani3; 
    animation-delay: 5.2s;
    @extend .duration; 
  }
  @keyframes ani3{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .img6{ 
    animation-name: img6; 
    animation-delay: 5.2s;
    @extend .duration; 
  }
  @keyframes img6{ 
      0% { 
        opacity: 0; 
        transform: translate(-10px, 0px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .line.num3{
    animation-name: linenum3; 
    animation-delay: 5.7s;
    @extend .duration; 
  }
  
  @keyframes linenum3{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 240px;
      } 
  }
  
  .img7.num3{
    animation-name: img7num3; 
    animation-delay: 6s;
    @extend .duration; 
  }
  
  @keyframes img7num3{ 
      0% { 
        height: 0;
      } 
      50% { 
        height: 33px;
      } 
  }
  
  
  .img8{ 
    animation-name: img8; 
    animation-delay: 6.5s;
    @extend .duration; 
  }
  @keyframes img8{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  /*****2 схема****/
  
  .var21{ 
    animation-name: var21; 
    animation-delay: .3s;
    @extend .duration; 
  }
  @keyframes var21{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .img4_2{ 
    animation-name: img4_2; 
    animation-delay: .3s;
    @extend .duration; 
  }
  
  @keyframes img4_2{ 
      0% { 
        opacity: 0; 
        transform: translate(-10px, 0);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .line.num4{
    animation-name: linenum4; 
    animation-delay: .8s;
    @extend .duration; 
  }
  
  @keyframes linenum4{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 240px;
      } 
  }
  
  .img9{
    animation-name: img9; 
    animation-delay: 1.1s;
    @extend .duration; 
  }
  
  @keyframes img9{ 
      0% { 
        height: 0px;
      } 
      50% { 
        height: 56px;
      } 
  }
  
  .var25{ 
    animation-name: var25; 
    animation-delay: 1.6s;
    @extend .duration; 
  }
  @keyframes var25{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .var23{ 
    animation-name: var25; 
    animation-delay: 2s;
    @extend .duration; 
  }
  @keyframes var25{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  .img10{ 
    animation-name: img10; 
    animation-delay: 2.5s;
    @extend .duration; 
  }
  @keyframes img10{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .var24{ 
    animation-name: var24; 
    animation-delay: 2.8s;
    @extend .duration; 
  }
  @keyframes var24{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .var26{ 
    animation-name: var26; 
    animation-delay: 3.3s;
    @extend .duration; 
  }
  @keyframes var26{ 
      0% { 
        opacity: 0; 
      } 
      50% { 
        opacity: 1; 
      } 
  }
  
  .img11{ 
    animation-name: img11; 
    animation-delay: 3.8s;
    @extend .duration; 
  }
  @keyframes img11{ 
      0% { 
        width: 0;
      } 
      50% { 
        width: 82px;
      } 
  }
  
  .line.num5{
    animation-name: linenum5; 
    animation-delay: 4.3s;
    @extend .duration; 
  }
  
  @keyframes linenum5{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 60px;
      } 
  }
  
  .img12{
    animation-name: img12; 
    animation-delay: 4.5s;
    @extend .duration; 
  }
  
  @keyframes img12{ 
      0% { 
        height: 0px;
      } 
      50% { 
        height: 114px;
      } 
  }
  
  .var27{
    animation-name: var27; 
    animation-delay: 5s;
    @extend .duration; 
  }
  
  @keyframes var27{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .line.num6{
    animation-name: linenum6; 
    animation-delay: 5.5s;
    @extend .duration; 
  }
  
  @keyframes linenum6{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 240px;
      } 
  }
  
  .img7.num4{
    animation-name: img7num4; 
    animation-delay: 5.8s;
    @extend .duration; 
  }
  
  @keyframes img7num4{ 
      0% { 
        height: 0px;
      } 
      50% { 
        height: 33px;
      } 
  }
  
  .img8_2{ 
    animation-name: img8_2; 
    animation-delay: 6.3s;
    @extend .duration; 
  }
  @keyframes img8_2{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .img13{ 
    animation-name: img13; 
    animation-delay: 6.8s;
    @extend .duration; 
  }
  
  @keyframes img13{ 
      0% { 
        height: 0;
      } 
      70% { 
        height: 150px;
      } 
  }
  
  .var22{ 
    animation-name: var22; 
    animation-delay: 7.3s;
    @extend .duration; 
  }
  @keyframes var22{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .img5_2{ 
    animation-name: img5_2; 
    animation-delay: 7.3s;  
    @extend .duration; 
  }
  @keyframes img5_2{ 
      0% { 
        opacity: 0; 
        transform: translate(-10, 0px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .line.num7{
    animation-name: linenum7; 
    animation-delay: 7.8s;
    @extend .duration; 
  }
  
  @keyframes linenum7{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 213px;
      } 
  }
  
  
  /*схема 3*/
  .var31{ 
    animation-name: var31; 
    animation-delay: .3s;
    @extend .duration; 
  }
  @keyframes var31{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .img5_3{ 
    animation-name: img5_3; 
    animation-delay: .3s;
    @extend .duration; 
  }
  
  @keyframes img5_3{ 
      0% { 
        opacity: 0; 
        transform: translate(-10px, 0);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .line.num8{
    animation-name: linenum8; 
    animation-delay: .8s;
    @extend .duration; 
  }
  
  @keyframes linenum8{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 240px;
      } 
  } 
  
  .img7.num5{
    animation-name: img7num5; 
    animation-delay:1.1s;
    @extend .duration; 
  }
  
  @keyframes img7num5{ 
      0% { 
        height: 0;
      } 
      50% { 
        height: 33px;
      } 
  }
  
  .var33{ 
    animation-name: var33; 
    animation-delay: 1.6s;
    @extend .duration; 
  }
  
  @keyframes var33{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  
  .line.num9{
    animation-name: linenum9; 
    animation-delay: 2.1s;
    @extend .duration; 
  }
  
  @keyframes linenum9{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 63px;
      } 
  } 
  
  .img14{
    animation-name: img14; 
    animation-delay:2.4s;
    @extend .duration; 
  }
  
  @keyframes img14{ 
      0% { 
        height: 0;
      } 
      50% { 
        height: 80px;
      } 
  }
  
  .var34{ 
    animation-name: var34; 
    animation-delay: 2.9s;
    @extend .duration; 
  }
  
  @keyframes var34{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .var36{ 
    animation-name: var36; 
    animation-delay: 3.2s;
    @extend .duration; 
  }
  
  @keyframes var36{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .img17{ 
    animation-name: img17; 
    animation-delay: 3.7s;
    @extend .duration; 
  }
  
  @keyframes img17{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .var37{ 
    animation-name: var37; 
    animation-delay: 4s;
    @extend .duration; 
  }
  
  @keyframes var37{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .var38{ 
    animation-name: var38; 
    animation-delay: 4.5s;
    @extend .duration; 
  }
  
  @keyframes var38{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  
  .line.num10{
    animation-name: linenum10; 
    animation-delay: 3.2s;
    @extend .duration; 
  }
  
  @keyframes linenum10{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 63px;
      } 
  }
  
  .img15{ 
    animation-name: img15; 
    animation-delay: 5s;
    @extend .duration; 
  }
  
  @keyframes img15{ 
      0% { 
        height: 0;
      } 
      50% { 
        height: 136px;
      } 
  }
  
  .img18{ 
    animation-name: img18; 
    animation-delay: 5s;
    @extend .duration; 
  }
  
  @keyframes img18{ 
      0% { 
        width: 0;
      } 
      50% { 
        width: 84px;
      } 
  }
  
  .var35{ 
    animation-name: var35; 
    animation-delay: 5.5s;
    @extend .duration; 
  }
  
  @keyframes var35{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .line.num11{
    animation-name: linenum11; 
    animation-delay: 6s;
    @extend .duration; 
  }
  
  @keyframes linenum11{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 166px;
      } 
  }
  
  .img16{
    animation-name: img16; 
    animation-delay: 6.3s;
    @extend .duration; 
  }
  
  @keyframes img16{ 
      0% { 
        height: 0px;
      } 
      50% { 
        height: 39px;
      } 
  }
  
  .var32{ 
    animation-name: var32; 
    animation-delay: 6.8s;
    @extend .duration; 
  }
  
  @keyframes var32{ 
      0% { 
        opacity: 0; 
        transform: translate(-10px, 0px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .img6_3{ 
    animation-name: img6_3; 
    animation-delay: 6.8s;
    @extend .duration; 
  }
  
  @keyframes img6_3{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .line.num12{
    animation-name: linenum12; 
    animation-delay: 7.3s;
    @extend .duration; 
  }
  
  @keyframes linenum12{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 166px;
      } 
  }
  
  /*схема4*/
  
  .var41{ 
    animation-name: var41; 
    animation-delay: .3s;
    @extend .duration; 
  }
  @keyframes var41{ 
      0% { 
        opacity: 0; 
        transform: translate(0,-10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0,0);
      } 
  }
  
  .img6_4{ 
    animation-name: img6_4; 
    animation-delay: .3s;
    @extend .duration; 
  }
  
  @keyframes img6_4{ 
      0% { 
        opacity: 0; 
        transform: translate(-10px, 0);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .line.num13{
    animation-name: linenum13; 
    animation-delay: .8s;
    @extend .duration; 
  }
  
  @keyframes linenum13{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 240px;
      } 
  } 
  
  .img7.num6{
    animation-name: img7num6; 
    animation-delay:1.1s;
    @extend .duration; 
  }
  
  @keyframes img7num6{ 
      0% { 
        height: 0;
      } 
      50% { 
        height: 33px;
      } 
  }
  
  .var42{ 
    animation-name: var42; 
    animation-delay: 1.6s;
    @extend .duration; 
  }
  
  @keyframes var42{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .line.num14{
    animation-name: linenum14; 
    animation-delay: 2.1s;
    @extend .duration; 
  }
  
  @keyframes linenum14{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 166px;
      } 
  } 
  
  .img19{
    animation-name: img19; 
    animation-delay:2.4s;
    @extend .duration; 
  }
  
  @keyframes img19{ 
      0% { 
        height: 0;
      } 
      50% { 
        height: 97px;
      } 
  }
  
  .var43{ 
    animation-name: var43; 
    animation-delay: 2.9s;
    @extend .duration; 
  }
  
  @keyframes var43{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .line.num15{
      animation-name: linenum15; 
      animation-delay: 3.4s;
      @extend .duration; 
  }

  @keyframes linenum15{ 
      0% { 
        width: 0px;
      } 
      50% { 
        width: 90px;
      } 
  } 
  
  .var44{ 
    animation-name: var44; 
    animation-delay: 3.4s;
    @extend .duration; 
  }
  
  @keyframes var44{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .img21{ 
    animation-name: img21; 
    animation-delay: 3.9s;
    @extend .duration; 
  }
  
  @keyframes img21{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .var45{ 
    animation-name: var45; 
    animation-delay: 4.2s;
    @extend .duration; 
  }
  
  @keyframes var45{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .var46{ 
    animation-name: var46; 
    animation-delay: 4.7s;
    @extend .duration; 
  }
  
  @keyframes var46{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
  .img23{ 
    animation-name: img23; 
    animation-delay: 4.7s;
    @extend .duration; 
  }
  
  @keyframes img23{ 
      0% { 
        width: 0;
      } 
      50% { 
        width: 84px;
      } 
  }
  
  .img20{ 
    animation-name: img20; 
    animation-delay: 4.7s;
    @extend .duration; 
  }
  
  @keyframes img20{ 
      0% { 
        height: 0;
      } 
      50% { 
        height: 118px;
      } 
  }
  
  .img22{ 
    animation-name: img22; 
    animation-delay: 5.3s;
    @extend .duration; 
  }
  
  @keyframes img22{ 
      0% { 
        opacity: 0; 
        transform: translate(0px, -10px);
      } 
      50% { 
        opacity: 1; 
        transform: translate(0, 0);
      } 
  }
  
}  