[type=checkbox]:checked, 
[type=checkbox]:not(:checked),
[type=radio]:checked, 
[type=radio]:not(:checked){
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
/****************
****checkbox*****
****************/
.checkbox {
  padding-top: 5px;
  margin-bottom: 15px;
  position: relative;
  user-select: none;
  label{
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #4b4a4a;
    cursor: pointer;
    min-height: 20px;
    display: block;
    padding-left: 31px;
    background: url('../img/check_normal.jpg') 0px top no-repeat;
    padding-bottom: 0;
    &:hover{
      background: url('../img/check_hover.jpg') 0px top no-repeat;
    }
  }
  input[type=checkbox]:checked+label{
    background: url('../img/check_active.jpg') 0px top no-repeat;
  }
}
.radiobox {
  padding-top: 5px;
  margin-bottom: 15px;
  position: relative;
  user-select: none;
  label{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #2a2a2a;
    cursor: pointer;
    min-height: 20px;
    display: block;
    padding-left: 29px;
    padding-bottom: 0;
    text-align: left;
    background: url('../img/radio_normal.png') 0px center no-repeat;
    &:hover{
      background: url('../img/radio_active.png') 0px center no-repeat;
    }
  }
  input[type=radio]:checked+label{
    background: url('../img/radio_active.png') 0px center no-repeat;
  }
}