.switch{
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  text-align: center;
  *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
  }
  .switch_name{
    position: absolute;
    top: 0px;
    width: 182px;
    z-index: 1;
    text-align: center;
    line-height: 23px;
    @media only screen and (max-width: 760px) {
      width: 141px;
    }
    &.first{
      left: 0;
    }
    &.second{
      right: 0;
    }
  }
  
  label {
    cursor: pointer;
    position: relative;
    display: inline;
    input[type=checkbox] {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .lever {
        content: "";
        display: inline-block;
        position: relative;
        width: 366px;
        height: 44px;
        border-radius: 30px;
        transition: background 0.3s ease;
        vertical-align: middle;
        border: 1px solid #ffece3;
        @media only screen and (max-width: 760px) {
          width: 284px;
        }
        &:after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 182px;
          height: 42px;
          border-radius: 30px;
          background: #fff6f1;
          left: 0px;
          top: 0px;
          transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
          @media only screen and (max-width: 760px) {
            width: 141px;
          }
       }
    }
    input[type=checkbox]:checked + .lever {
      /*background-color: #fff;*/
    }
    input[type=checkbox]:checked + .lever:after {
      left: 182px;
      @media only screen and (max-width: 760px) {
        left: 141px;
      }
    }

  }

}