.dropdown{
  width: 100%;
  height: 50px;
  border: 1px solid transparent;
  /*border-bottom: 1px solid #a4a4a4;*/
  background:#ffffff;
  box-shadow:0px 1px 4px 0px rgba(221,156,140,0.39);
  border-radius: 3px;
  z-index: 2;
  &:hover {
    background:rgba(231,232,233,0.60);
    border: 1px solid transparent;
    box-shadow: none;
  }
  &.focus {
    background:rgba(255,255,255,0.60);
    border:1px solid #d2a580;
  }
  &.disabled{
    z-index: 1;
    &:before{
      content: '';
      height: 100%;
      width: 100%;
      background: rgba(255,255,255,0.7);
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
    }
    .selected{
      color: #000;
    }
  }
  .selected{
    display: block;
    font-size: 16px;
    line-height: 1;
    color: #000;
    padding: 15px 12px 15px 20px;
    overflow: hidden;
    white-space: nowrap;
    &:after {
      box-shadow: none;
    }
  }
  ul:not([class]) li{
    display: block;
    font-size: 16px;
    line-height: 1;
    color: #2a2a2a;
    padding: 14px 12px 14px 20px;
    overflow: hidden;
    white-space: nowrap;
    &:before{
      display: none;
    }
    &.focus{
      background: #efefef;
      color: #2a2a2a;
    }
  }
  div{
    border: 1px solid #d2a580;
    border-top: 1px solid #d2a580;
    margin-top: 0;
  }
  .carat{
    width: 50px;
    right: -1px;
    top: -1px;
    height: 50px;
    background: url('../img/dropdown.png') 50% 50% no-repeat;
    border: 0;
    margin-top: 0;
  }
  &.open{
    background: #fff;
    .carat{
      margin-top: 0;
      border: 0;
      transform: scale(1,-1);
    }
  }
}