a {
    outline: none;
}

html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.widgetBody {
    max-width: 600px;
    width: 100%;
    border: 1px dashed #999;
    padding: 20px;

    #citySelect {
      margin-bottom: 20px;
    }

    .itemCont {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .date {
        font-weight: bold;
        margin-bottom: 3px;
      }

      .temp {
        margin-bottom: 3px;
      }
    }
}